.card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s;
}
.card:hover {
    transform: scale(1.05);
}
h2 h3{
    font-size: 15px;
    color: #c92c2c;
}